<?xml version="1.0" encoding="utf-8"?>
<!--
  ASP.NET uygulamanızı nasıl yapılandıracağınız hakkında daha fazla bilgi için lütfen şu adresi ziyaret edin:
   https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ConnectionString2A" connectionString="Data Source=habersitesi.mssql.somee.com;packet size=4096;user id=raa_SQLLogin_1;pwd=a3eo45uod1;data source=habersitesi.mssql.somee.com;persist security info=False;initial catalog=habersitesi" />
  </connectionStrings>
  <system.web>
    <pages validateRequest="false" />
    <httpRuntime requestValidationMode="2.0" />
    <compilation targetFramework="4.5.2" />
<customErrors mode="Off"/>
    <!--<httpRuntime targetFramework="4.5.2"/>-->
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
<!--ProjectGuid: e8fb1f0e-97b1-4549-a63e-72db9abf6657-->